.centered {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
   background-color: #a3ffac;
   margin:auto;
}


.centeredReg {
    position: absolute;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardAccount {
    border-width: 5px;
    border-color: lightseagreen;
}